* {
    margin: 0px;
    padding: 0px;
    /* font-size: 15px; */
    font-family: "Alegreya", serif;
}
/* .padding {
    padding-right: 100px;
    padding-left: 100px;
    background: transparent;
} */
/* nav {
    width: 100%; 
    height: 80px;
    font-size: 15px;
} */
/* nav img{
    font-size: 15px;
    font-weight: 400px;
    width: 175px;
    margin-left: 200px;
    margin-top: 15px;
} */
/* nav a {
    position: relative;
    top: 50%;
    left: 10%;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: black;
    transition: 0.3s;
} */

/* <!-- Start of header --> */
#header {
    text-transform: capitalize;
    height: 300px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: aliceblue;
    padding-top: 250px;
    padding-bottom: 250px;
}
#header p {
    font-size: 24px !important;
    margin-top: 10px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400px;
    padding-top: 0px;
    padding-bottom: 20px;
}
#header h1 {
    font-size: 76px;
    line-height: 80px;
    padding-bottom: 20px;
    /* font-weight: 400px; */
}
button {
    color: aliceblue;
    background: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 700px;
    border-radius: 5px;
    border-color: aliceblue;
    cursor: pointer;
    line-height: 1.3rem;
    margin-top: 20px;
}
.color {
    background-color: #735E36;
    border-color: #735E36;
}
/* .overlay {
    display: block !important;
    background: rgba(0, 0, 0, 0.40);
    content: "";
} */
/* .bg-overlay:before {
    background: rgba(0, 0, 0, 0.40);
    content: "";
} */
/* <!-- End of header --> */

/* <!-- Start of who are we --> */
.image-left {
width: 50%;
float: left;
}
.image-left img {
    width: 60%;
    text-align: center;
    padding-top: 90px;
    padding-left: 300px;
    padding-bottom: 90px;
}
.text-right {
width: 50%;
text-align: left;
line-height: 1.7rem;
float: left;
padding: 20px 30px 100px 50px;
box-sizing: border-box;
color: #766F68 !important;

}
h2 {
    font-size: 32px;
    font-weight: 400px;
    padding-top: 120px;
    color: #303030;
    padding-bottom: 30px;
    text-align: start;
}
p {
    font-size: 17px !important;
    font-weight: 400px;
    /* padding-top: 20px; */
    padding-bottom: 30px;
}
li {
    padding-bottom: 30px;
    padding-left: 20px;
    line-height: 10px;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
.clear-fix {
    clear: both;
}
/* <!-- End of who are we --> */
/* <!-- Start of location --> */
#location {
    background-color: #F8F8F8;
}
.text-left {
    width: 50%;
    text-align: left;
    line-height: 30px;
    color: #766F68;
    float: left;
    padding: 0px 50px 60px 300px;
    box-sizing: border-box;
    line-height: 1.7rem;
}
.image-right {
    width: 50%;
    float: left;
}
.image-right img {
    width: 60%;
    text-align: center;
    /* padding-top: 90px;
    padding-right: 250px;
    padding-bottom: 90px; */
    padding: 90px 250px 90px 40px;
}
/* <!-- End of location --> */
/* <!-- Start of our baking --> */
#baking {
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 100px;
}
.title {
    color: #303030;
    font-size: 30px;
    /* font-weight: 400px; */
    padding-top: 100px;
    padding-bottom: 50px;
}
h3 {
    padding-bottom: 30px;
}
.demo {
    width: 33.3%;
    float: left;
}
.demo img {
    width: 350px;
    padding-bottom: 30px;
}
/* <!-- End of our baking --> */

/* <!-- Start of contact info --> */
#contact-info {
    background-color: #F8F8F8;
}
iframe {
    padding-top: 100px;
    padding-left: 30px;
}
iframe:focus {
    outline: none;
}
iframe[seamless] {
    display: block;
}
.image-right {
    font-family: Roboto, sans-serif;
    border:none;
    vertical-align:baseline
}
/* <!-- End of contact info --> */

/* <!-- Start of footer main --> */
#footer-main {
    background-color: #403D38;
    color: #969696;
}
.footer-section {
    padding: 60px 0px 50px 0;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}
.footer-about {
    text-align: left;
    float: left;
    width: 25%;
}
.footer-why {
    float:left;
    width: 25%;
}
.footer-open {
    float:left;
    width: 25%;
}
h4 {
    font-size: 18px;
    line-height: 24.84px;
    font-weight: 400px;
    color: #FFFFFF;
    padding-bottom: 30px;
    
}
.footer-contact {
    /* width: 80px; */
    background-image: url('../images/contact-details-map.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.11; */
    float: left;
    width: 25%;
}

/* <!-- End of footer main --> */

/* <!-- Start of footer --> */
#footer-bottom {
    background-color: #353330;
    text-align: center;

}
.footer-logo {
    max-width: 100%;
    height: auto;
    transition: opacity .3s ease-in;
}
.copy-right {
    font-size: 15px;
    color: #777;
}
.socials {
    /* background-color: #484540; */
    color: #8c8a86;
}
.socials a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    /* margin-right: 8px; */
    /* margin-bottom: 8px; */
    background: rgba(0, 0, 0, 0.08);
    /* overflow: hidden; */
    /* position: relative; */
}
/* <!-- Start of footer --> */
